*{
    padding: 0;
    margin: 0;
}
.game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}
#character{
    position:relative;
    top: 150px;
    left:20px;
}
.animate{
    animation: jump 0.4s linear;
}

@keyframes jump{
    0%{top: 150px;}
    20%{top: 100px;}
    50%{top: 100px;}
    100%{top: 150px;}
}

#block{
    background-color: blue;
    width: 20px;
    height: 20px;
    position: relative;
    top: 125px;
    left: 500px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 500px}
    100%{left: -20px}
}
p{
    text-align: center;
}